{{#if post.title}}
<h3>{{post.title}}</h3>
{{/if}}

{{#if post.attachment}}
<img src="{{post.attachment}}" />
{{/if}}

{{#if post.selectedParts}}
<div>
{{#each post.selectedParts}}
    <p>{{content}}</p>
{{/each}}
</div>
{{/if}}

<div>
{{#each post.authors}}
    <p><a href="/{{domain}}/{{username}}">{{name}}</a></p>
{{/each}}
</div>

